parameters:
	ignoreErrors:
		-
			message: '#^Function ProbeBaseline\\e\(\) should return array\<string\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: baseline-src.php

		-
			message: '#^Parameter \#1 \$i of function ProbeBaseline\\takesInt expects int, array\<string, float\|int\<min, \-1\>\|int\<1, max\>\|string\|true\> given\.$#'
			identifier: argument.type
			count: 1
			path: baseline-src.php

		-
			message: '#^Parameter \#1 \$i of function ProbeBaseline\\takesInt expects int, float given\.$#'
			identifier: argument.type
			count: 3
			path: baseline-src.php
